@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

// Брейкпоинты
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
$xxxl: 1920px;

:root {
  // Gaps between
  --nodes-gap: 4rem;               // nodes
  --microcases-gap: 1.5rem;       // terminating nodes
  --node-gap: 1.5rem;            // caption and body
  --microcase-gap: .75rem 3rem; // caption and body in microcase
  --caption-gap: .25rem;       // heading and description
  --img-gap: .5rem;           // images in microcase
}

html {
  font: 16px/1.3 "JetBrains Mono", monospace;

  @media (min-width: $xxl) {
    font-size: 24px;
  }
}

.page {
  margin: 0;
  padding: 0;
}

.page__heading {
  font-size: 1.5rem;;
  text-align: center;
}

.page__filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem 0 3rem;
}

.page__portfolio {
  box-sizing: border-box;
  width: 100%;
  max-width: 1700px;
  margin: 3rem auto 0;
}

.margin-reset {
  margin: 0;
}

.vimeo {
  width: 1080px;
  height: 608px;
  display: none;
}