@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

// Брейкпоинты
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
$xxxl: 1920px;

.body {
  font: 16px "JetBrains Mono", monospace;
  margin: 0;
  padding: 0;
}

p {
  margin-block: .5rem;
}

.content {
  /* padding-inline: 3rem; */
  width: 100%;
  max-width: 1700px;
  margin-inline: auto;
}

.vimeo {
  width: 1080px;
  height: 608px;
  display: none;
}