@use "globals" as *;

.node_terminating {
  display: grid;
  gap: 2rem;
  margin: 0;

  @media (min-width: $lg) {
    grid-auto-flow: column;
    grid-auto-columns: 3fr 2fr;
  }
}

.node_terminating .node__caption {
  @media (min-width: $lg) {
    position: sticky;
    bottom: 50px;
    align-self: end;
    height: min-content;
    margin: 3rem 0;
  }
}

.node_terminating .node__body {
  font-style: italic;
  grid-column: 1;
}

.node__img {
  width: 100%;
  border-radius: .25rem;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.15);
}