@use "globals" as *;

:root {
  // Gaps between
  --nodes-gap: 4rem;          // nodes
  --term-nodes-gap: 1.5rem;  // terminating nodes
  --node-gap: 1.5rem;       // caption and body
  --term-node-gap: .75rem; // caption and body in microcase
  --caption-gap: .25rem;  // heading and description
  --img-gap: .5rem;      // images in microcase
}

.nodes {
  display: flex;
  flex-direction: column;
  gap: var(--nodes-gap);
}

// all children are terminating
.nodes_terminating {
  gap: var(--term-nodes-gap);
}

// container for caption and body
.nodes__node {
  display: flex;
  flex-direction: column;
  gap: var(--node-gap);
}

.nodes__caption {
  display: flex;
  flex-direction: column;
  gap: var(--caption-gap);
}

// all descriptions are bold, except for terminating
.nodes__description {
  font-weight: 700;
}