@use "globals" as *;

.nodes__caption {
  display: flex;
  flex-direction: column;
  gap: var(--caption-gap);
  margin: var(--nodes-gap) 0 var(--node-gap) 0;

  &:first-of-type {
    margin-top: 0;
  }

  & + & {
    margin-top: 0;
  }
}