.content {
  max-width: 600px;
  margin-inline: auto;
}

.microcase-body {
  font-style: italic;
  background-color: #eee;
  padding: 1rem;
}

.h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0;
}

p {
  margin-block: .5rem;
}