.body {
  font-size: 24px;
  font-family: monospace;
  margin: 0;
  padding: 0;
}

.h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0;
}

.h2 {
  font-size: 90px;
/*   max-width: 13em; */
}

.h3 {
  font-size: 60px;
/*   max-width: 16em; */
}

.h2:before {
  content: "# ";
  margin-right: -.3em;
  font-weight: 100;
}

.h3:before {
  content: "## ";
  margin-right: -.3em;
  font-weight: 100;
}

.h4:before {
  content: "### ";
  margin-right: -.3em;
  font-weight: 100;
}

p {
  margin-block: .5rem;
}

.content {
  /* padding-inline: 3rem; */
  width: 100%;
  max-width: 1700px;
  margin-inline: auto;
}

.node_terminating {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 3fr 2fr;
  gap: 2rem;
  margin: 0;
}

.node_terminating .node__caption {
  position: sticky;
  bottom: 50px;
  align-self: end;
  height: min-content;
  margin: 3rem 0;
}

.node_terminating .node__body {
  font-style: italic;
  margin-block: 1rem;
  grid-column: 1;
}

.node_terminating .node__body_no-caption {
  justify-self: center;
}

.node_terminating .node__body img {
  width: 100%;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.15);
}

.vimeo {
  width: 1080px;
  height: 608px;
  display: none;
}