<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
  </head>
  <body class="page">
    <header class="page__header">
      <h1 class="page__h1"><%= title %></h1>
      <p class="page__contact">
        <a href="https://t.me/max1640" target="_blank">Телеграм</a> |
        <a href="https://github.com/1640max" target="_blank">Гитхаб</a>
      </p>
    </header> 
    
    <section class="filter page__filter">
      <p class="filter__hint">Показать только:</p>
      <div class="filter__inputs">
        <label class="filter__tag">
          <input class="filter__input"
                 type="checkbox"
                 value="Сайт">
                 Сайты
        </label>
        <label class="filter__tag">
          <input class="filter__input"
                 type="checkbox"
                 value="Логотип">
                 Логотипы
        </label>
        <label class="filter__tag">
          <input class="filter__input"
                 type="checkbox"
                 value="Тексты">
                 Тексты
        </label>
        <label class="filter__tag">
          <input class="filter__input"
                 type="checkbox"
                 value="Посты в соцсети">
                 Посты в соцсети
        </label>
        <label class="filter__tag">
          <input class="filter__input"
                 type="checkbox"
                 value="Сторис">
                 Сторис
        </label>
        <label class="filter__tag">
          <input class="filter__input"
                 type="checkbox"
                 value="Хайлайтс">
                 Закреплённые сторис
        </label>
        <label class="filter__tag">
          <input class="filter__input"
                 type="checkbox"
                 value="Оформление ВК">
                 Оформление ВК
        </label>
        <label class="filter__tag">
          <input class="filter__input"
                 type="checkbox"
                 value="Рекламные креативы">
                 Рекламные креативы
        </label>
        <label class="filter__tag">
          <input class="filter__input"
                 type="checkbox"
                 value="Визитки">
                 Визитки
        </label>
        <label class="filter__tag">
          <input class="filter__input"
                 type="checkbox"
                 value="Обработка фото">
                 Обработка фото
        </label>
        <label class="filter__tag">
          <input class="filter__input"
                 type="checkbox"
                 value="Разное">
                 Разное
        </label>
      </div>
    </section>
    
    <hr>

    <section class="portfolio page__portfolio"></section>
  </body>
</html>
